
@media screen and (max-width: 500px) {
    
    .logo
    {font-size: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 22px;
    margin-left: 22px;
    animation: pulsacao 500ms infinite;}

    .menu-icon, .menu-x
    {display: block;
    width: 35px;
    height: 35px;
    margin: 32px;}

    .menu-x
    {display: none;}

    .cabeçalho
    {background-color: rgb(0, 15, 29, 0.95);
    height: 100px;}

    .container1
    {height: 100vh;}

    nav
    {display: block;}

    .lista-pc
    {display: none;}

    .contatos
    {opacity: 0;}

    .apresentacao
    {width: 90%;}

    .apresentacao-h1
    {font-size: 3rem;
    margin-left: 20px;}

    .apresentacao-h2
    {margin-left: 30px;
    margin-top: 20px;
    font-size: 1.6rem;}

    .apresentacao-p
    {font-size: 1.4rem;
    margin-left: 20px;
    text-indent: 0px;}

    .apresentacao-button
    {margin-left: 20px;}

    .sobre
    {flex-direction: column-reverse;
    width: 100%;}

    .foto-perfil
    {width: 60%;
    margin: 0 auto;}

    .foto-perfil img
    {width: 70%;
    margin-left: 0px;
    margin-top: 100px;
    box-shadow: 5px 5px 1px white;
    opacity: 1;}

    .foto-perfil img:hover
    {scale: 1;}

    .sobre-texto
    {width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;}

    .sobre-texto h1
    {font-size: 3rem;}

    .sobre-texto p
    {font-size: 1.4rem;}

    .sobre-texto ul li
    {margin-left: 30px;
    font-size: 1.2rem;}



    .container3
    {height: 215vh;
    margin-top: 80px;}

    .cards
    {width: 100%;
    height: 600px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;}

    .card
    {width: 90%;
    margin: 5px;}

    footer div
    {height: 0px;
    display: none;}

    footer
    {display: none;}

}



@media screen and (min-width: 400px) {

    .container1
    {height: 80vh;}

}




@media (min-width: 1400px) and (max-width: 1800px) {

    footer div
    {display: none;}
}



